.footer {
   background-color: var(--secondary-bgr-color);
   padding-top: 60px;
   padding-bottom: 60px;
}

.wrap--left {
   margin-right: 70px;
}
.footer-address {
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
}
.address-list__item:not(:last-child) {
   margin-bottom: 9px;
}

.address-list__link {
   color: var(--third-link-color);
   transition: color var(--transition-duration)
      var(--transition-timing-function);
   &:hover,
   &:focus {
      color: var(--accent-color);
   }
}
.address-list__link--map {
   color: var(--secondary-title-color);
}
.wrap--centre {
   margin-right: auto;
}

.join__title,
.subscribe__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
   color: var(--secondary-title-color);

   margin-bottom: 20px;
}
