.button {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--secondary-title-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	border: 0;
	border-radius: 4px;
	padding: 10px 32px;
	.modal-form > & {
		padding: 10px 55px 10px 56px;
	}
}
